body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#f1f3f6;
}

.container{
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
}

.card{
    background:#fff;
    width:420px;
    padding:30px;
    border-radius:12px;
    box-shadow:0 10px 25px rgba(0,0,0,.1);
}

h2{text-align:center;margin:0}
.subtitle{text-align:center;color:#777;margin-bottom:20px}

.grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:12px;
}

input{
    padding:10px;
    border-radius:6px;
    border:1px solid #ccc;
    font-size:14px;
}

.btn{
    margin-top:20px;
    width:100%;
    padding:12px;
    background:#0d6efd;
    border:none;
    border-radius:8px;
    color:#fff;
    font-weight:bold;
    cursor:pointer;
}

.btn:hover{background:#0b5ed7}

.result{
    margin-top:20px;
    text-align:center;
    font-size:18px;
    font-weight:bold;
}
